{% extends 'blogs/base.html' %}
{% block title %}
Delete
{% endblock title %}
{% load static %}
{% block header_body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ blog.blog_image.url}}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{blog.title}}</h1>
            <h2 class="subheading">{{blog.subject}}</h2>
            <span class="meta">Posted by
              <a href="#">{{blog.created_by.username}}</a>
              on {{blog.pub_date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{blog.body|safe}}</p>
          
        </div>
      </div>
    </div>
  </article>
  <div class="container">
  <hr>
  </div>
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"? This cannot be reversed.</p>
            <div class="d-flex justify-content-center">
                <a href="{% url 'blogs:profile' user.pk %}" class="btn btn-danger mr-1">Cancel</a>
                <input type="submit" value="Confirm" class="btn btn-primary">
            </div>
        </form>
        </div>
      </div>
    </div>
{% endblock header_body %}
