{% extends 'blogs/base.html' %}
{% block title %}
Edit Profile
{% endblock title %}
{% load crispy_forms_tags %}
{% block header_body %}
<nav class="navbar navbar-expand-lg bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'blogs:home' %}" style="color: white;">Blogs For All</a>
      <button class="navbar-toggler navbar-toggler-right bg-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color:white; border-color: rgba(255,255,255,.1);">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blogs:home' %}" style="color: white;">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blogs:blog-add' %}" style="color: white;">Create New Blog</a>
          </li>
          
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:profile' user.pk %}" style="color: white;">Your Profile/Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:logout' %}" style="color: white;">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:register' %}" style="color: white;">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blogs:login' %}"style="color: white;" >Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

 <div class="container pt-5" style="margin-top: 100px; margin-bottom: 307px;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="card">
            <div class="card-body px-4">
                <h1>Edit Profile</h1>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    {% comment %} {{form.errors}} {% endcomment %}
                    <a href="{% url 'blogs:profile' user.pk %}" class="btn btn-danger mr-1">Cancel</a>
                    <div class="float-right">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock header_body %}